# Any data files
*.sav
*.csv
*.txt
*Rhistory
!preprocess/config/*
!preprocess/items/*

# Folders that aren't ready
analysis/
results/
scripts/
temporary/
papers/
preprocessed/

# pycache files
__pycache__/
*.py[cod]
*.pyc
*.pyo
